* {
  font-family: sans-serif;
  margin: 0px;
  
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: left;
  margin-left: 400px;
  gap: 20px;
  font-size: 20px;
}

.navbarcontent{
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.2s ease;
  display: block;
}
.navbarcontent:hover {
  border-bottom: 3px solid #fff;
}
.navbar span {
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.2s ease;
  display: none;
  position: absolute;
}
/* .navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
} */
#navlist a {
  flex: auto;
  text-align: center;
  padding: 1.6em;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

section {
  height: max-content;
}
.hero-section {
  background-image: url("images/me2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.hero-text {
  font-weight: bold;
  width: 40%;
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 35px;
}

.buttons {
  font-size: 14px;
  top: 55%;
  left: 5%;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.hero-text .icons {
  margin-top: 20px;
}

.hero-text .icons span i {
  color: rgb(153, 157, 223);
  transition: 0.5s ease;
}

.hero-text .icons span i:hover {
  color: rgb(230, 230, 243);
  transform: scale(1.1);
}

.buttons_hire-me a {
  color: rgb(0, 0, 0);
}

.buttons_hire-me {
  padding: 10px 35px;
  background-color: rgb(206, 189, 189);
  border-radius: 25px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}

 .buttons_hire-me+div {
    padding: 10px 35px;
     background-color: rgb(94, 31, 209); 
    color: rgb(0,0,0);
    border-radius: 25px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
} 

.buttons_hire-me+div a {
    color: rgb(252, 252, 252);
 
}

.buttons_hire-me:hover,
.buttons_hire-me + div:hover {
  transform: scale(1.1);
}

.buttons div a {
  text-decoration: none;
}
section {
  height:100%
}
#toggle-nav {
  display: none;
  margin: auto;
  cursor: pointer;
}

@media (max-width: 768px) {

  .navbar span {
    display: block;
  }

  .navbar {
    padding: 20px 20px;
  }
  .navbar {
    padding: 1.6em;
}

#navlist {
    display: none;
}

#toggle-nav {
    display: block;
    color: white;
}
  .hero-text {
    font-size: 30px;
    width: 60%;
  }

  .buttons {
    display: block;
  }

  .buttons div {
    margin-bottom: 10px;
    width: max-content;
  }

  .about_img {
    display: none;
  }

  .about_text {
    width: 100%;
  }
  .projects {
    display: block !important;
  }
  .project-example {
    width:100% !important;
    padding-bottom: 20px;
    height: 100%;
  }
  .last-section {
    display: flex !important;
    flex-direction: column !important ;
  }


}

.about {
  padding: 100px 20px;
  display: flex;
  background-color: rgb(219, 216, 216);
  gap: 200px;
}

.about_img img {
  width: 100%;
  display: flex;
  justify-content: right;
}

.about_text p {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.about_text span {
  width: 80%;
  line-height: 28px;
}

.about_text .buttons {
  margin-top: 50px;
}

.services_heading {
  display: flex;
  align-items: left;
  justify-content: center;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(219, 216, 216);
}
body{
  background-color: rgb(219, 216, 216);
}

.services {
  display: flex;
  background-color: rgb(219, 216, 216);
  padding: 20px;
  justify-content: center;
}

.service_box {
  width: 10%;
  padding: 20px;
  /* margin: 20px; */
  background-color: rgb(219, 216, 216);
  /* color: black; */
  transition: all 0.5s ease;
}
.service_box_images{
  width: 80px;
  height: 80px;
}

.service_box:hover {
  transform: scale(1.1);
}

.service_box_icon {
  padding: 10px;
  font-size: 35px;
}

.service_box_heading {
  font-size: 25px;
  padding: 10px;
}

.service_box_text {
  padding: 10px;
  line-height: 20px;
}
.footer {
  padding: 0px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(219, 216, 216);
}
.last-section{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer .icons i {
  font-size: 30px;
  padding-left: 20px;;
  color: rgb(94, 31, 209); 
  transition: all 0.5s ease;
}

.footer .icons i:hover {
  transform: scale(1.2);
}
.footer_text {
  margin-top: 20px;
}

.projects {
  display: flex;
  gap: 40px;
  background-color: rgb(219, 216, 216);
  padding: 50px 20px;
}
.projects .project-example {
  width: 33%;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 20px;
 
}
.projects > div img {
  width: 100%;
  height: 60%;
}
.project-name {
  padding: 10px 10px;
  font-weight: 600;
  font-size: small;
  
}
.contact-form{
  background-color: rgb(219, 216, 216) ;
  width: 40%;
  margin-left: 50px;
}
.project-description {
  padding-left: 10px;
  font-size: smaller;
  padding-bottom: 20px;
}
.project-text {
color: black;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
  
}
input[type=submit] {
  width: 30%;
  background-color:rgb(122,79,64);
  color: black;
  padding: 14px 20px;
  margin: 8px 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.projects a {
  text-decoration: underline;
  padding-left: 10px;
  font-weight: bold;
  color: rgb(122,79,64); 
}
.projects a:hover{
  color: blue; 
}
#navlist {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  background: rgb(122,79,64);
}